<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="registration.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap" rel="stylesheet">
    <title>تسجيل الدخول</title>
</head>
<body>
    <div class="parent" >
        <div class="Toppage" ></div>
         <div class="registrationnavbar" >
           <div class="registrationlogo" >
            <img src="" alt="">
           </div>
         <nav class="registration_nav_content" >
            <a href="//localhost:7000/">الصفحة الرئيسية</a>
            <a href="//localhost:7000/about">من نحن</a>
            <a href="//localhost:7000/request2">طلبات الدم </a>
            <a href="//localhost:7000/card">عرض الدم</a>
            <a href="//localhost:7000/donations">تبرعات</a>
            <a href="//localhost:7000/contact">تواصل معنا</a>
        </nav>
         <div class="sign_icon" ></div>
         <div class="sign_icon_content" ><a href="//localhost:7000/registration">تسجيل</a></div>
         <div class="login_icon" ></div>
         <div class="login_icon_content"><a href="//localhost:7000/login">تسجيل الدخول</a></div>
         </div>

        <div class="child1" ></div>
        <div class="table" >
            <div class="title"> انشاء حساب جديد </div>
            <div class="box_1" ><a href="//localhost:7000/Enterprise">تسجيل مؤسسات/مستشفيات</a></div>
            <div class="box_2" ><a href="//localhost:7000/individuals">تسجيل أفراد</a></div>
       
        </div>
        <div class="bottom_page" >
         
        <div class="team">
        فريق عمل بنك الأقصر للدم
        </div>
        <br>
        
        <div class="names">سارة سيد - روان عصام - شهد محمود - أدهم كرم - علي محمد</div>
        
        </div>
        <img class="imge" src="1 1.png" />
        </div>
</body>
</html>