* {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  direction: rtl;
}

.parent {
  height: 130.8rem;
  position: relative;
  width: 100%;
  background-image: url('../blood.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 0 0 30rem 0;
  height: 103.1rem;
  width: 168rem;
  background-color: rgba(255, 255, 255, 0.75);
}

.background {
  background-color: rgba(255, 255, 255, 0.75);
  height: 103.1rem;
  left: 0;
  position: absolute;
  width: 168rem;
}

.requestnavbar {
  height: 5.9rem;
  left: 4.1rem;
  position: absolute;
  top: 2.05rem;
  width: 157.4rem;
}

.requestlogo {
  align-items: center;
  display: flex;
  height: 5.9rem;
  justify-content: center;
  left: 153.6rem;
  position: absolute;
  top: 0;
  width: 3.8rem;
}

.request_nav_content {
  align-items: center;
  display: flex;
  justify-content: space-around;
  left: 46.6rem;
  position: absolute;
  top: 1.95rem;
  white-space: nowrap;
  width: 66.6rem;
}

nav a {
  text-decoration: none;
  color: #EE353D;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  height: 2rem;
  line-height: 1.2125;
  position: relative;
  transition: 0.3s;
}

nav a::before {
  content: '';
  position: absolute;
  left: 0;
  height: 6px;
  width: 0%;
  background-color: #ffffff;
  bottom: -10px;
  transition: 0.3s;
}

nav a:hover::before {
  width: 100%;
}

nav a:hover {
  color: rgba(255, 255, 255, 0.75);
}

.sign_icon {
  background-color: #f5f5f5;
  border-radius: 0.5rem;
  height: 5rem;
  left: 17.9rem;
  position: absolute;
  top: 0.45rem;
  width: 15rem;
}

.sign_icon_content a {
  text-decoration: none;
  align-items: center;
  color: #f63636;
  display: flex;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  height: 2rem;
  justify-content: center;
  left: 22.05rem;
  line-height: 1.2125;
  position: absolute;
  top: 1.95rem;
  white-space: nowrap;
  width: 6.7rem;
}

.login_icon {
  border: solid 0.1rem #f5f5f5;
  border-radius: 0.5rem;
  box-sizing: border-box;
  height: 5rem;
  left: 0;
  position: absolute;
  top: 0.45rem;
  width: 15rem;
  background-color: #EE353D;
}

.login_icon_content a {
  text-decoration: none;
  align-items: center;
  color: #f5f5f5;
  display: flex;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  height: 2rem;
  justify-content: center;
  left: 1.7rem;
  line-height: 1.2125;
  position: absolute;
  top: 1.95rem;
  white-space: nowrap;
  width: 11.6rem;

}

.bottom_page {
  background-color: #1e1e1e;
  box-sizing: border-box;
  height: 27.7rem;
  left: 0;
  padding: 9.3rem 51.85rem;
  position: absolute;
  top: 102.7rem;
  width: 168rem;
}

.team {
  color: #f63636;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-size: 5rem;
  font-weight: 900;
  line-height: 1.2125;
  white-space: nowrap;
  text-align: center;
  padding-left: 5px;
  justify-content: center;
}

.names {
  color: #f5f5f5;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2125;
  white-space: nowrap;
  text-align: center;
  justify-content: center;
}



.data {
  background-color: rgba(238, 53, 61, 0.6);
  border-radius: 3rem;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.200000003);
  height: 60.7rem;
  left: 26.5rem;
  position: absolute;
  top: 27.2rem;
  width: 109rem;
}


.one,
.two,
.three,
.four,
.five {
  color: #000000;
  position: absolute;
  font-weight: bold;
  font-size: 50px;
  right: 103px;
}

.one_sub1,
.two_sub1,
.three_sub1,
.four_sub1 {
  position: absolute;
  right: 392px;
  font-size: 50px;
  font-weight: 200px;
}
.blood_title{    font-weight: bold;
  font-size: 50px;
  position: absolute;
  top: 113px;
  left: 245px;
}
  #blood{    background-color:rgba(255,255,255,0.75);
    border-radius: 2rem;
    box-shadow: 0 0.5rem 2.5rem rgba(0, 0, 0, 0.15);
    height: 80px;
    position: absolute;
    width: 139px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.blood1
    {
      top: 215px;
      left: 400px;
      
    }
    .blood2
    {
      top: 215px;
      left: 200px;
    }
    .blood3
    {
      top: 400px;
      left: 400px;
    }
    .blood4
    {
      top: 400px;
      left: 200px;
    }
    .blood5
    {
      top: 585px;
      left: 400px;
    }
    .blood6
    {
      top: 585px;
      left: 200px;
    }
    .blood7
    {
      top: 770px;
      left: 400px;
    }
    .blood8
    {
      top: 770px;
      left: 200px;
    }
        #quantity{
          font-weight: bold;
          position: absolute;
          font-size: 50px;
          
          }
            .quantity1{left: 450px;top: 300px;}
            .quantity2{left: 250px;top: 300px;}
            .quantity3{left: 450px;top: 480px;}
            .quantity4{left: 250px;top: 480px;}
            .quantity5{left: 450px;top: 660px;}
            .quantity6{left: 250px;top: 660px;}
            .quantity7{left: 450px;top: 840px;}
            .quantity8{left: 250px;top: 840px;}

.five,
.six,
.seven {
  position: absolute;
  font-weight: bold;
  font-size: 50px;
  /* left: 535px; */
}

.five_sub1,
.six_sub1,
.seven_sub1 {
  position: absolute;
  left: 392px;
  font-size: 50px;
  font-weight: 200px;
}

.one {
  top: 113px;
}

.two {
  top: 257px;
}

.three {
  top: 402px;
}

.four {
  top: 551px;
}

.one_sub1 {
  top: 113px;
  left: 880px;
}

.two_sub1 {
  top: 257px;
  left: 880px;
}

.three_sub1 {
  top: 402px;
  left: 880px;
}

.four_sub1 {
  top: 551px;
  left: 1000px;
}

.five {
  top: 680px;

}

.six {
  top: 312px;
}

.seven {
  top: 512px;
}

.five_sub1 {
  top: 680px;
  left: 880px;
}

.six_sub1 {
  top: 312px;
}

.seven_sub1 {
  top: 512px;
}